.shop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 15em;
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }
  &-btn-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 20vh;
  }
  h5 {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
  }
}

