.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  margin: 7em auto 2em;
  .select {
    margin: 0 auto;
    color: white;
    background: #33691e;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    text-align-last: center;
  }
}

