.modal {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  &-content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 200px;
    height: 200px;
  }
}