.price {
  font-size: 2.5em;
  text-align: center;
  margin: 0 4em;
  &-style {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 3em;
  }
  &-btn {
    color: black;
    height: 100%;
  }
}

.grid-style {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 7em;
  margin: 5em auto;
  input {
    border-bottom: 1px solid #f0f4c3;
    box-shadow: 0 1px 0 0 #000;
    margin-bottom: 0;
    }
    & :not([type]):focus:not([readonly]) {
      border-bottom: 1px solid #33691e;
      -webkit-box-shadow: 0 1px 0 0 black;
      box-shadow: 0 1px 0 0 black;
    }
  }


